{% extends "layout.html" %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}
<div style="display: flex; height: 100vh; margin-top: 0;">

    <div style="flex: 5; display: flex; flex-direction: column; padding-right: 5px;">
        <h4 style="margin-top: 5px; margin-bottom: 10px; font-size: 1.4rem;">Available Positions</h4>
        <div style="flex: 1 1 auto; overflow-y: auto;">
            {% if positions %}
                {% for pos in positions %}
                    <div class="card hoverable" style="margin-bottom: 10px; padding: 10px;">
                        <div class="card-content" style="padding: 10px;">
                            <span class="card-title" style="font-size: 1.2rem;">{{ pos.title }}</span>
                            <p style="font-size: 0.9rem;">{{ pos.description }}</p>
                            <p style="font-size: 0.9rem;"><strong>Capacity:</strong> {{ pos.number_of_positions }}</p>
                            <p style="font-size: 0.9rem;"><strong>Status:</strong> {{ pos.status.value }}</p>
                        </div>
                        <div class="card-action" style="padding: 5px;">
                            <a href="{{ url_for('position_views.view_position', position_id=pos.id) }}" class="btn-small purple">Apply for</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No internship positions available at the moment.</p>
            {% endif %}
        </div>
    </div>


</div>

{% endblock %}
